In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import IPython as ip
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
mpl.style.use('ggplot')
mpl.rc('figure', figsize=(7.2, 5.76))
mpl.rc('font', family='Noto Sans CJK TC')
plt.rc('lines', markeredgecolor='white', markeredgewidth=0.75)
plt.rc('patch', edgecolor='white', force_edgecolor=True, linewidth=1)
ip.display.set_matplotlib_formats('svg')

In [3]:
from io import StringIO

In [4]:
df = pd.read_csv(StringIO('''yyyy_mm_dd,uid,interests
2020-05-10,mosky,"Python, Web, statistics, open source, data science"
2020-05-11,apple,"Objective-C, Swift, iOS App"
2020-05-12,orange,"Python, Web, security"
2020-05-12,lime,"Objective-C, Swift, Java, Kotlin, iOS App, Android App"
'''))
display(df)
df.info()
df_raw = df

   yyyy_mm_dd     uid                                          interests
0  2020-05-10   mosky  Python, Web, statistics, open source, data sci...
1  2020-05-11   apple                        Objective-C, Swift, iOS App
2  2020-05-12  orange                              Python, Web, security
3  2020-05-12    lime  Objective-C, Swift, Java, Kotlin, iOS App, And...

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   yyyy_mm_dd  4 non-null      object
 1   uid         4 non-null      object
 2   interests   4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes

In [5]:
df = df_raw
# but sometimes yyyy_mm_dd is easier to handle with
df = df.assign(created_at=pd.to_datetime(df.yyyy_mm_dd))
df = df.drop(columns=['yyyy_mm_dd', 'interests'])
df_a = df

df = df_raw
df = df.interests.str.get_dummies(', ')
df.columns = (df.columns
                .str.lower()
                .str.replace(r'[- ]', '_'))
df = df.add_prefix('i_')
df_b = df

df = pd.concat([df_a, df_b], axis=1)
display(df)
df_1 = df

,uid,created_at,i_android_app,i_java,i_kotlin,i_objective_c,i_python,i_swift,i_web,i_data_science,i_ios_app,i_open_source,i_security,i_statistics
0,mosky,2020-05-10,0,0,0,0,1,0,1,1,0,1,0,1
1,apple,2020-05-11,0,0,0,1,0,1,0,0,1,0,0,0
2,orange,2020-05-12,0,0,0,0,1,0,1,0,0,0,1,0
3,lime,2020-05-12,1,1,1,1,0,1,0,0,1,0,0,0